* { padding: 0; margin: 0; color: #fff !important;}
body {
    background-color: #6488d4;
}
.my-03 {
    margin-bottom: 10%;
}
.card .card-content {
    padding-bottom: 0;
    border-radius: 0 0 2px 2px;
}
.helper-text {
    background-color: #fff;
    border-radius: 3px;
    padding: 3px;
}
.input-field input[type=text], .input-field input[type=email] {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
.footer {
    background-color: #6488d4;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    border-top: 0.5px solid #fff;
}
/*Tratamento de erros*/

/*Animacoes*/
