@import url('https://fonts.googleapis.com/css?family=Montserrat');
* { padding: 0; margin: 0; font-family: 'Montserrat', sans-serif; color: #fff !important;}
body {
    background-color: #6488d4;
}
.input-field input[type=text], .input-field input[type=email] {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
  }
/*Tratamento de erros*/
.no-drop:hover {
    cursor: no-drop;
}


