* { padding: 0; margin: 0; }
body {
    background-color: #6488d4;
    color: white;
}

.register-form {
    width: 100vw;
    height: 100vh;
}

.input-field input[type=text], .input-field input[type=email]  {
    border-bottom: 1px solid #fff;
}
